@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.d-inline{
    display: inline;
}

.d-flex{
    display: flex;
}

.navigator{
    background-color: #FFED66;
    color: black;
}
.icone{
    background-image: url('assets/img/icone.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-flex;
    margin: 10px 55px;

}
.nav-items{

}
.nav-item{
    text-decoration: none;
    color: black!important;
    margin: 15px;
    font-size: 16px;
    font-weight: 400;
}
.nav-item:hover{
    color: #db8211!important;
    background-color: #e3a0491f;
    padding: 5px;
    font-weight: 500;
}

.hero-banner{
    background-size: cover;
    height: 150px;
    background-image: url('assets/img/hero-banner.png');
}

.secao-cards{
    margin-top: 30px;
    display: flexbox;
}

.card{
    background: linear-gradient(to bottom, #ffffff, #e3a0490f);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    overflow: hidden;
    
}
.mr-10{
    margin-right: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 30px 10px
}
.grid-container-reverse {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 30px 10px
}
.card-titulo{
    padding: 0 10px;
    margin: 20px 20px 0;
    color: #8d5409;
} 
.card-texto{
    padding: 10px;
    margin: 10px 20px;
    font-size: 16px;
    color: #492c07;
}
.foto{
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .icone{
    display: block;
    padding: 10px;
    margin: 10px auto;
  }
  .nav-items{
    padding: 10px;
  }
  .d-flex{
    display: block;
  }
    .grid-container {
        grid-template-columns: auto;
  }

  .grid-container-reverse {
        grid-template-columns: auto;
  }

  .foto {
        margin: 30px auto;
    }

    .item-1-texto{
        grid-area: 1/2;
    }

    .item-2-foto{
        grid-area: 2/2;
    }
  
}